@font-face {
    font-family: 'Montserrat Bold';
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Open Sans Regular';
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Montserrat Regular';
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Squada One';
    src: url("../fonts/SquadaOne-Regular.woff2") format("woff2"), url("../fonts/SquadaOne-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto Black';
    src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Montserrat ExtraBold';
    src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header-content {
    height: 100vh;
    max-height: 1300px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (10%)[10];
        grid-template-columns: repeat(10, 10%);
    -ms-grid-rows: (10%)[10];
        grid-template-rows: repeat(10, 10%);
  }
  
  .header-content .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (10%)[10];
        grid-template-columns: repeat(10, 10%);
    -ms-grid-rows: (20%)[5];
        grid-template-rows: repeat(5, 20%);
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1 / 10;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  
  .header-content .navbar .navbar-logo {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  
  .header-content .navbar .navbar-logo h2 {
    font-family: 'Squada One';
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.7;
  }
  
  .header-content .navbar nav {
    -ms-grid-column: 6;
    -ms-grid-column-span: 4;
    grid-column: 6 / 10;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  
  .header-content .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10%;
  }
  
  .header-content .navbar nav ul li {
    margin-left: 10%;
  }
  
  .header-content .navbar nav ul li a {
    font-family: 'Montserrat Bold';
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: right;
    color: #000;
    opacity: 0.7;
  }
  
  .header-content .content {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/ 6;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  
  .header-content .content h1 {
    font-family: 'Montserrat ExtraBold';
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  
  .header-content .content p {
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 50px;
    opacity: 0.7;
  }
  
  .header-content .content a {
    padding: 2% 10%;
    font-family: 'Roboto Black';
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    background-color: #E05124;
    box-shadow: 0px 8px 30px rgba(224, 81, 36, 0.4);
    border-radius: 4px;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  
  .header-content .card {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/ 10;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    -webkit-box-shadow: 0px 16px 100px 0px #00000033;
            box-shadow: 0px 16px 100px 0px #00000033;
    height: 220px;
    width: 100%;
    border-radius: 16px;
    padding: 40px 20px 40px 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (10%)[10];
        grid-template-columns: repeat(10, 10%);
    -ms-grid-rows: (20%)[5];
        grid-template-rows: repeat(5, 20%);
  }
  
  .header-content .card .card__info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / 8;
  }
  
  .header-content .card .card__info h3 {
    font-family: 'Montserrat ExtraBold';
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 3%;
    opacity: 0.8;
  }
  
  .header-content .card .card__info p {
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.7;
  }
  
  .header-content .card .card__img {
    -ms-grid-column: 9;
    -ms-grid-column-span: 1;
    grid-column: 9/10;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
  }
  
  .header-content .card .card__img img {
    height: 260px;
  }
  
  .sub__content {
    height: 90vh;
    max-height: 900px;
    margin-top: 80px;
    margin-bottom: 150px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (5%)[20];
        grid-template-columns: repeat(20, 5%);
    -ms-grid-rows: (5%)[20];
        grid-template-rows: repeat(20, 5%);
  }
  
  .sub__content .section__title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2/14;
  }
  
  .sub__content .section__title h3 {
    font-family: 'Montserrat ExtraBold';
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    opacity: .8;
  }
  
  .sub__content .section__title p {
    font-family: 'Montserrat Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    opacity: .7;
  }
  
  .sub__content .card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-grid-column: 1;
    -ms-grid-column-span: 20;
    grid-column: 1/21;
    -ms-grid-row: 3;
    -ms-grid-row-span: 15;
    grid-row: 3/18;
  }
  
  .sub__content .card__list .card {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
    -ms-grid-row: 2;
    -ms-grid-row-span: 5;
    grid-row: 2/7;
    width: 30%;
    -webkit-box-shadow: 0px 20px 100px 0px #00000033;
            box-shadow: 0px 20px 100px 0px #00000033;
    border-radius: 16px;
  }
  
  .sub__content .card__list .card .title__card {
    padding: 10% 11%;
  }
  
  .sub__content .card__list .card .title__card h4 {
    font-family: 'Montserrat ExtraBold';
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 5%;
    opacity: 0.8;
  }
  
  .sub__content .card__list .card .title__card p {
    font-family: 'Montserrat Regular';
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    opacity: 0.7;
  }
  
  .sub__content .card__list .card .about__card .price p {
    font-family: 'Montserrat Bold';
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: #e05124;
    text-align: center;
    background-color: #00000011;
    padding: 3% 0%;
  }
  
  .sub__content .card__list .card .about__card .card__options {
    font-family: 'Montserrat Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 7%;
    font-family: 'Montserrat Regular';
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
  }
  
  .sub__content .card__list .card .about__card .true {
    color: #32870a;
  }
  
  .sub__content .card__list .card .about__card .fail {
    color: #e05124;
  }
  
  .sub__content .card__list .card .about__card .siruy {
    background-color: #00000011;
  }
  
  .sub__content .card__list .card .about__card .check {
    font-size: 20px;
  }
  
  .sub__content .card__list .prem__card {
    background: linear-gradient(144.64deg, #22E871 15.38%, #658324 79.28%, #A56B26 100%);
  }
  
  .sub__content .card__list .prem__card .about__card .card__options {
    color: #fff;
  }
  
  .sub__content .card__list .prem__card .title__card {
    color: #fff;
  }
  
  .diets__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (5%)[20];
        grid-template-columns: repeat(20, 5%);
    -ms-grid-rows: 1fr 2fr .5fr 2fr;
        grid-template-rows: 1fr 2fr .5fr 2fr;
  }
  
  .diets__content .section__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 20;
    grid-column: 1/21;
  }
  
  .diets__content .section__title h3 {
    font-family: 'Montserrat ExtraBold';
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    opacity: .8;
    margin-bottom: 1%;
  }
  
  .diets__content .section__title p {
    font-family: 'Montserrat Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .diets__content .card__one {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
  }
  
  .diets__content .card__two {
    -ms-grid-column: 11;
    -ms-grid-column-span: 10;
    grid-column: 11/21;
  }
  
  .diets__content .card__three {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  
  .diets__content .card__four {
    -ms-grid-column: 11;
    -ms-grid-column-span: 10;
    grid-column: 11/21;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  
  .diets__content .diets__card {
    min-width: 430px;
    -webkit-box-shadow: 0px 20px 100px 0px #21630AA6;
            box-shadow: 0px 20px 100px 0px #21630AA6;
    width: 100%;
    background: linear-gradient(112.66deg, #27D26C 0%, #658324 75.52%, #A56B26 100%);
    border-radius: 16px;
    height: 190px;
    padding: 5%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (20%)[5];
        grid-template-columns: repeat(5, 20%);
    -ms-grid-rows: (10%)[10];
        grid-template-rows: repeat(10, 10%);
    position: relative;
  }
  
  .diets__content .diets__card article {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 9;
    grid-row: 1/10;
  }
  
  .diets__content .diets__card article h4 {
    font-family: 'Montserrat ExtraBold';
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin-bottom: 4%;
    text-transform: uppercase;
  }
  
  .diets__content .diets__card article p {
    font-family: 'Montserrat Regular';
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin-bottom: 2%;
  }
  
  .diets__content .diets__card .fruits {
    position: absolute;
    right: 0;
    bottom: -2%;
    z-index: 2;
  }
  
  .user__content {
    width: 100%;
    margin-top: 10%;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 4px 8px 0px #00000029;
            box-shadow: 0px 4px 8px 0px #00000029;
    height: 450px;
  }
  
  .user__content .user__title h2 {
    font-family: 'Open Sans Regular';
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    height: 60px;
    padding: 1% 1%;
  }
  
  .user__content .first__symbole {
    margin-left: 3%;
  }
  
  .user__content .main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .user__content table {
    width: 95%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-spacing: 0px;
  }
  
  .user__content table th {
    text-align: left;
    font-family: 'Open Sans Regular';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
    height: 55px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .user__content table td {
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .user__content table td .Name {
    font-family: 'Open Sans Regular';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
  }
  
  .user__content table td .date {
    font-family: 'Open Sans Regular';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
  }
  
  .user__content table td .department {
    font-family: 'Open Sans Regular';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
  }
  
  .user__content table td .status {
    font-family: 'Open Sans Regular';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #3cc13b;
  }
  
  .user__content table td p {
    font-family: 'Open Sans Regular';
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
  }
  
  footer {
    margin-top: 7%;
    background: linear-gradient(112.66deg, #22E871 0%, #658324 75.52%, #A56B26 100%);
    height: 100px;
    -webkit-box-shadow: 0px 20px 100px 0px #21630AA6;
            box-shadow: 0px 20px 100px 0px #21630AA6;
  }
  
  footer .footer__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (10%)[10];
        grid-template-columns: repeat(10, 10%);
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  
  footer .footer__content .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  
  footer .footer__content .footer__logo h2 {
    font-family: 'Squada One';
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }
  
  footer .footer__content .footer__logo p {
    font-family: 'Montserrat Regular';
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }
  
  footer .footer__content .footer__menu {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6/7;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  
  footer .footer__content .footer__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  footer .footer__content .footer__menu ul li {
    margin-left: 20%;
  }
  
  footer .footer__content .footer__menu ul li a {
    font-family: 'Montserrat Bold';
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: right;
    color: #fff;
  }
  /*# sourceMappingURL=style.css.map */